/*******************************************************************************
Style css - bPeaks application


*******************************************************************************/

/*******************************************************************************
General
*******************************************************************************/
html{
  padding-top: 10px;
  padding-bottom: 20px;
}

.center {
  text-align: center;
}

p {
  text-align: justify;
}

h1.title_principal {
  font-style: italic;
  font-size: 20px;
}

/*******************************************************************************
Div style
*******************************************************************************/

.row-flex {
  display: flex;
  flex-wrap: wrap;
}

.div_area{
  height: 100%;
  background: #f2f2f2;
  border: 1px solid red;
  padding: 10px 20px;
  border-radius: 25px;
}


div.pad{
  padding: 20px 0;
}

.div_TITLE{
  background: #ffebe6;
  border: 1px solid gray;
  border-radius: 10px;
}

#Hidebox{
  margin-top: 20px;
}

div.textFolder{
  width: 100%;
  height: 25px;
  padding: 3px 5px;
  background-color: white;
  border: 1px solid gray;
  border-radius: 5px;
}

.SidePanel{
  background-color: #f2f2f2;
  border: 1px solid gray;
  border-radius:10px;
  min-width: 360px;
  max-width: 360px;
  padding: 10px 10px;
}

.MainPanel{
  width: calc(100% - 360px);
}

.cont{
  margin-left: 10px;
  margin-right: 10px;
}


.figure{
  border: 2px solid #cc0000;
  border-radius: 10px;
  padding: 5px;
  margin-top: 10px;
}

.StyleChrom{
  background-color: #f2f2f2;
  border: 1px solid gray;
  border-radius:10px;
  padding: 10px;
}

h5{
  font-weight: bold;
}


/*******************************************************************************
Image
*******************************************************************************/
img.logo {
  height: 150px;
}

img.center {
  margin: auto;
  display: block;
}

/*******************************************************************************
Button
*******************************************************************************/
button.myBtn {
  color: white;
  background: #ff3300;
  border: 2px solid #cc2900;
  border-radius: 12px;
  font-size: 24px;
  padding: 14px 40px;
  margin-top: 20px;
  margin-bottom: 40px;
}

button.myBtn:hover {
  color: white;
  background: #cc2900;
  border: 2px solid #cc2900;
}

button:active {
outline: none;
border: none;
}

button:focus { outline:0 !important; }

button.center {
  margin: auto;
  display: block;
}

button.loadFolder{
  color: white;
  background: #ff3300;
  border: 2px solid #cc2900;
  border-radius: 12px;
  width: 120px;
  height: 40px;
  font-size: 20px;
  padding:0px;
  margin-top: 10px;
  margin-bottom: 20px;
}

/*******************************************************************************
Help
*******************************************************************************/

.tooltip-inner {
  background-color: #ffebe6;
  color: black;
}

.tooltip.bs-tooltip-right .arrow:before {
  border-right-color: #ffebe6 !important;
}

.tooltip.bs-tooltip-left .arrow:before {
  border-left-color: #ffebe6 !important;
}

.tooltip.bs-tooltip-bottom .arrow:before {
  border-bottom-color: #ffebe6 !important;
}

.tooltip.bs-tooltip-top .arrow:before {
  border-top-color: #ffebe6 !important;
}
