/*******************************************************************************
Style css - bPeaks application


*******************************************************************************/

/*******************************************************************************
General
*******************************************************************************/

html {
  padding-top: 10px;
  padding-bottom: 20px;
}

.center {
  text-align: center;
}

p {
  text-align: justify;
}

p.warning{
  color: red;
  font-weight: bold;
}

h1.title_principal {
  font-style: italic;
  font-size: 20px;
}

.textRight{
  text-align: right;
}

/*******************************************************************************
Dashboard
*******************************************************************************/

.UpPolice{
  font-size: 40px;
  font-weight: bold;
}

.boxDashboard{
  text-align: center;
  background: green;
  color: white;
  padding: 10px
}
.peaks_detected{
  background: #c71585;
}

.chromosome_studied{
  background: #228b22;
}

.nbr_analysis{
  background:#4169e1;
}

.nbr_exploration{
  background: #ffa142;
}

#calendarAnalyzer{
  display: block;
  margin: 0 auto;
}

#calendarExplorer{
  display: block;
  margin: 0 auto;
}

/*******************************************************************************
Div style
*******************************************************************************/
div.template {
  border: solid 1px gray;
  padding: 10px;
  text-align: justify;
}

div.authen {
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 20px;
  width: 400px;
  margin: auto;
}

.center_input{
  display: inline-block;
  margin: 0 auto;
}

.DivDownload{
  border: black solid 1px;
  padding: 10px;
  margin-top: 20px;
}



hr.hrStyle {
  border-top: 1px solid #8c8b8b;
}

div.AnnotGFF{
  overflow-y: auto;
  height:300px;
}

div.AnnotDB{
  overflow-y: auto;
  height:300px;
}


.alert p{
  text-align: left;
}

/*******************************************************************************
Authentification
*******************************************************************************/

#EMAIL {
  background: url(Images/user.svg) no-repeat scroll 2px 2px;
  padding-left: 35px;
  background-size: 30px 30px;
}

#PW {
  background: url(Images/padlock.svg) no-repeat scroll 2px 2px;
  padding-left: 35px;
  background-size: 30px 30px;
}

#login {
  width: 100px;
  background-color: #b30000;
  color: white;
}

#SignUp, #ChangePW, #AddUsers{
  width: 300px;
}

/*******************************************************************************
Div style
*******************************************************************************/

.row-flex {
  display: flex;
  flex-wrap: wrap;
}

.div_area {
  height: 100%;
  padding: 10px 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

div.pad {
  padding: 20px 0;
}

.div_TITLE {
  box-shadow: 0 2px 4px 0 rgba(255, 0, 0, 0.2), 0 3px 10px 0 rgba(255, 0, 0, 0.19);
  border-radius: 10px;
  border : solid 1px red;
}

#Hidebox {
  margin-top: 20px;
}

div.textFolder {
  width: 100%;
  height: 25px;
  padding: 3px 5px;
  background-color: white;
  border: 1px solid gray;
  border-radius: 5px;
}

.SidePanel {
  border: 1px solid gray;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  min-width: 360px;
  max-width: 360px;
  padding: 10px 10px;
}

#GenomeBrowser{
  padding-left: 5px;
}

.MainPanel {
  width: calc(100% - 360px);
}

.cont {
  margin-left: 10px;
  margin-right: 10px;
}

.figure {
  border: 2px solid #cc0000;
  border-radius: 5px;
  box-shadow: 0 2px 4px 0 rgba(255, 0, 0, 0.2), 0 3px 10px 0 rgba(255, 0, 0, 0.19);
  padding: 5px;
  margin-top: 10px;
}

.StyleChrom {
  background-color: #f2f2f2;
  border: 1px solid gray;
  border-radius: 10px;
  padding: 10px;
}

h5 {
  font-weight: bold;
}

/*******************************************************************************
Image
*******************************************************************************/

img.logo {
  height: 150px;
}

img.center {
  margin: auto;
  display: block;
}

/*******************************************************************************
Button
*******************************************************************************/

.downloadData{
  width: 200px;
  font-size: 24px;
  padding: 14px 40px;
  margin-top: 20px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border: 2px solid #cc2900;
  border-radius: 12px;
}

button.myBtn {
  color: white;
  background: #ff3300;
  border: 2px solid #cc2900;
  border-radius: 12px;
  font-size: 24px;
  padding: 14px 40px;
  margin-top: 20px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 200px;
}

button.myBtn:hover {
  color: white;
  background: #cc2900;
  border: 2px solid #cc2900;
}

button:active {
  outline: none;
  border: none;
}

button:focus {
  outline: 0 !important;
}

button.center {
  margin: auto;
  display: block;
}

button.loadFolder {
  color: white;
  background: #ff3300;
  border: 2px solid #cc2900;
  border-radius: 12px;
  width: 120px;
  height: 40px;
  font-size: 20px;
  padding: 0px;
  margin-top: 10px;
  margin-bottom: 20px;
}

/*******************************************************************************
Help
*******************************************************************************/

.tooltip-inner {
  background-color: #ffebe6;
  color: black;
}

.tooltip.bs-tooltip-right .arrow:before {
  border-right-color: #ffebe6 !important;
}

.tooltip.bs-tooltip-left .arrow:before {
  border-left-color: #ffebe6 !important;
}

.tooltip.bs-tooltip-bottom .arrow:before {
  border-bottom-color: #ffebe6 !important;
}

.tooltip.bs-tooltip-top .arrow:before {
  border-top-color: #ffebe6 !important;
}
